* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #c9fcc4;
}

header {
  width:100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 32px;
  background: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
} 

.galeria {
  display: flex;
  flex-wrap: wrap;
  
}

.galeria .img {
  align-self: center;
  width: 100vw;
  align-content: center;
  justify-content: center;
}

.img img {
  width: 100%;
  align-self: center;
  justify-self: center;
  object-fit: cover;
  object-position: bottom;
  border: none;
  padding-bottom: 0;
  
}

.img h4 {
  align-self: center;
  justify-self: center;
  font-size: x-large;
}

.img audio{
  align-self: center;
  justify-self: center;
  width: 100%;
  
}

@media (min-width: 600px){
  .galeria {
    display: flex;
    flex-wrap: wrap;
    margin: 3vw;
  }

  .img img {
    padding-bottom: 0;
  }

}

@media (min-width: 1024px){
  .galeria {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;

  }
  .galeria .img {
    width: 46.25vw;
    margin: 1vw;
  }

  .img img {
    padding-bottom: 0;
  }
}

@media (min-width: 1720px) {
  .galeria {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
  }
  .galeria .img {
    width: 30.3vw;
    margin: 1vw;
  }

  .img img {
    padding-bottom: 0;
  }
}